<h2 style="text-align:center; margin-top: 100px;">Our Team</h2>
    <div class="row">
        <div class="column1">
            <div class="card">
                <img src="../../assets/images/pp.jpg" alt="Pranav" style="width:100%" >
                <div class="container2">
                    <h2>Pranav</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Action is the real measure of intelligence.Be Smart.</p>
                    <p>pranav@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column1">
            <div class="card">
                <img src="../../assets/images/dd.jpg" alt="Divya" style="width:100%">
                <div class="container2">
                    <h2>Divya</h2>
                    <p class="title">Developer</p>
                    <p>Win Or Loose Fight Hard.Never ever give up! </p>
                    <p>divya@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column1">
            <div class="card">
                <img src="../../assets/images/n.jpg" alt="Nandhini" style="width:100%">
                <div class="container2">
                    <h2>Nandhini</h2>
                    <p class="title">Developer</p>
                    <p>Aspire to make a difference.Just go for it!</p>
                    <p>nandhini@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column1">
            <div class="card">
                <img src="../../assets/images/c.jpg" alt="Carmel" style="width:100%">
                <div class="container2">
                    <h2>Carmel Mancy</h2>
                    <p class="title">Developer</p>
                    <p>Every accomplishment starts with a decision to try!</p>
                    <p>carmel@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>