<body>
    <div class="container">
        <div class="content">


            <h1>Forgot Password</h1>
        </div>
        <form class="form" id="form">
        <div class="card">
            <input name="ans" type="text" class="control" [(ngModel)]="register.email" placeholder="Email-id" required>
            <br>
            <label for="security">Choose a security question</label><br>
            <div class="security">
            <select class="security" id="security" [(ngModel)]="register.security_Question" name="security">
                <option>Choose here</option>
                <option>What is your favourite sport?</option>
                <option>What is your favourite animal?</option>

                <option>What is your favourite dish?</option>
                <option>What is your favourite place?</option>
            </select>
        </div>
            <br>

            <input name="ans" type="text" class="control" [(ngModel)]="register.security_Answer" placeholder="Enter your answer" required>
            <br>


            <input name="newpassword" type="password" class="control" [(ngModel)]="register.password" placeholder="New Password" id="pass1"
                required>

            <br>


            <input type="submit" class="submit" (click)="submit()" value="submit">


        </div>
      </form>
    </div>
</body>