<article class="first-article">
    <div class="firstt">

        <div class="sub-first">

            <div class="desc">
                <h1>Closer to us,Closer To your Safety</h1>
            </div>


            <div class="desc1">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Customize your plans<br><br>
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Start saving a lot by investing little<br><br>
                <i class="fa fa-lock" aria-hidden="true"></i> Security is a priority not an option<br><br>
                <div class="register" style="float: left;">
                    <a style="font-size: 1.6rem" routerLink="../plans">Our plans</a>
                </div>
            </div>

        </div>

        <div class="sub-first-2">
            <div class="smartphone">
                <div class="content">
                 
                </div>
            </div>

        </div>

    </div>
</article>


<article class="second-article">
    <div class="second-article-text">
        <h2> We've got you covered</h2>
        <p>We offer flexible coverage options that you can customize to meet your needs.</p>
    </div>

    <div class="images">
        <img src="../../assets/images/article-2-part1.png" alt="Italian Trulli" class="image1">
        <img src="../../assets/images/article-2-part2.png" alt="Italian Trulli" class="image2">
        <img src="../../assets/images/article-2-part3.png" alt="Italian Trulli" class="image3">

    </div>
    <br>
    <div class="register">
        <a routerLink="../register" (click)="changes()">Get Started</a>
    </div>
</article>