<div class="container">
    <div class="tab">
        <table align="center" cellpadding="10">

            <!----- First Name ---------------------------------------------------------->
            <tr>
                <td>Name</td>
                <td>: Vikram
                </td>
            </tr>


            <!----- Date Of Birth -------------------------------------------------------->
            <tr>
                <td>Email-id</td>

                <td>: vikram76@gmail.com
                </td>
            </tr>

            <!----- Email Id ---------------------------------------------------------->
            <tr>
                <td>Contact No</td>
                <td>: 9875134294
            </tr>

            <!----- Mobile Number ---------------------------------------------------------->
            <tr>
                <td>DOB</td>
                <td>
                    : 15/04/1982
                </td>
            </tr>

            <!----- Gender ----------------------------------------------------------->
            <tr>
                <td>Location</td>
                <td>
                    : Chennai
                </td>
            </tr>



            <!----- AAdhar card ---------------------------------------------------------->
            <tr>
                <td>Qualification</td>
                <td>: B.tech
                    <!--<input type="text" name="Aadhar" /></td>-->
            </tr>



        </table>
    </div>
</div>