<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Hello</h1>
    <div class="container">
        <div class="tab">
            <table align="center" cellpadding="10">

                <!----- First Name ---------------------------------------------------------->
                <tr>
                    <td>Username</td>
                    <td>: sdad
                    </td>
                </tr>


                <!----- Date Of Birth -------------------------------------------------------->
                <tr>
                    <td>DATE OF BIRTH</td>

                    <td>: 
                    </td>
                </tr>

                <!----- Email Id ---------------------------------------------------------->
                <tr>
                    <td>EMAIL ID</td>
                    <td>: 
                </tr>

                <!----- Mobile Number ---------------------------------------------------------->
                <tr>
                    <td>MOBILE NUMBER</td>
                    <td>
                        : 
                    </td>
                </tr>

                <!----- Gender ----------------------------------------------------------->
                <tr>
                    <td>GENDER</td>
                    <td>
                        : 
                    </td>
                </tr>



                <!----- AAdhar card ---------------------------------------------------------->
                <tr>
                    <td>Aadhar No.</td>
                    <td>: 
                        <!--<input type="text" name="Aadhar" /></td>-->
                </tr>

                <!----- PAN ---------------------------------------------------------->
                <tr>
                    <td>PAN Card</td>
                    <td>: 
                        <!--<input type="text" name="Pan" maxlength="30" />-->
                    </td>
                </tr>

                <!----Vehicle ---------------------------------------------------------->
                <tr>
                    <td>Vehicle Type</td>
                    <td>: 
                        <!-- <select id="Vehicle_type" name="Vehicle_type">
                            <option value="-1">Vehicle Type</option>
                            <option value="Car">Car</option>
                            <option value="Two Wheeler">Two Wheeler</option>
                            <option value="Large">Large Vehicle</option>
                        </select>-->

                    </td>
                </tr>

                <!----- Vehicle Model ---------------------------------------------------------->
                <tr>
                    <td>Vehicle Model</td>
                    <td>: 
                        <!--<input type="text" name="model" maxlength="30" />-->
                    </td>
                </tr>

                <!----- Plate no ---------------------------------------------------------->
                <tr>
                    <td>Plate No.</td>
                    <td>: 
                        <!--<input type="text" name="plate" /></td>-->
                </tr>
                <!----- Engine no ---------------------------------------------------------->
                <tr>
                    <td>Engine No.</td>
                    <td>: 
                        <!--<input type="text" name="Pan" maxlength="30" />-->
                    </td>
                </tr>
                <!----- Chassis ---------------------------------------------------------->
                <tr>
                    <td>Chassis No.</td>
                    <td>: 
                        <!--<input type="text" name="Pan" maxlength="30" />-->
                    </td>
                </tr>








                <!--<tr>
                    <td>Plan</td>
                    <td>: From Database</td>
                </tr>-->
                <tr>
                    <td>Starting Date</td>
                    <td>: </td>
                </tr>
                <tr>
                    <td>Expiry Date
                    <td>: </td>
                </tr>




            </table>
        </div>
    </div>
</body>

</html>
